@media (max-width:769px){
   .tab-bar{
      margin: 0;
      position: static;
      width: 100%;
      display: inline-block;
      &__inner{
         width: 80%;
         display: inline-block;
         padding: 0 0 0 27px;
         border-bottom: 0;
      }
      &__item{
         padding: 0;
         border-right: 0;
      }
      &__content{
         & span{
            display: inline;
            color: #FFFFFF;
         }
         & span:last-child{
            color: #607B96;
         }
      }
   }
}