.wrapper{
   background: #010C15 url(../img/bg.png) no-repeat;
   background-position: center right;
   background-size: 65%;
   position: relative;
   height: 100vh;
}

.main {
   height: 100%;
   border-left: 1px solid #1E2D3D;
   border-right: 1px solid #1E2D3D;
   &__content {
      display: flex;
      height: 100%;
   }

   &__text {
      flex: 1 1 50%;
      display: inline-block;
      margin: 30vh 0 0 0;
   }

   &__greeting {
      margin: 0 0 80px 0;
      color: #E5E9F0;
   }

   &__code {
   }
   &__app{
      display: flex;
      flex: 1 1 50%;
      margin: 61px 0 51px;
   }
}

.slider{
   height: calc(100vh - 112px);
   overflow: scroll;
   scroll-behavior: smooth;
   // scroll-snap-type: y mandatory;
   &::-webkit-scrollbar {
      width: 0;
   }
   &__item{
      // max-width: 550px;
      padding: 24px 30px;
      margin: 9px 0;
      background: #011221;
      border: 1px solid #1E2D3D;
      border-radius: 15px;
      opacity: 0.5;
      overflow: hidden;
      // scroll-snap-align: start;
      // scroll-margin-block: 300px;
      &:nth-child(3){
         opacity: 1;
      }
      & p{
         font-weight: 450;
         font-size: 14px;
         line-height: 170%;
         color: #607B96;
      }
      & .javascript{
         font-family: 'Fira Code', sans-serif;
         font-weight: 450;
         font-size: 14px;
         line-height: 170%;
         color: #607B96;
      }
   }
}
.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 10px;
}
.greeting {

   &__title {
      font-weight: 450;
      font-size: 18px;
      line-height: 24px;
      & span{
         font-weight: 400;
         font-size: 62px;
         line-height: 81px;
      }
   }
}
.specialization {
   font-weight: 450;
   font-size: 32px;
   line-height: 42px;
   color: #4D5BCE;
}
.code {

   &__comment {
      font-weight: 450;
      font-size: 16px;
      line-height: 21px;
      margin: 0 0 10px 0;
      color: #607B96;
      &:last-child{
         display: none;
      }
   }

   &__content {
      display: inline;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #E99287;
   }
}
.var {
   color: #4D5BCE;
}
.name {
   color: #43D9AD;
}
.equals {
   color: #FFFFFF;
}
